<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xác nhận thành công OBERI</title>
</head>

<body>
    <div style="width: 200px; height: 250px; margin: 0 auto;">
        <img src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Tick_Mark_Circle-512.png" alt="verify" style="width: 100%; object-fit: cover"/>
        <p style="text-align: center">Email Verify Successfully</p>
    </div>
</body>

</html>